// Colors
$brand-color: #1d4b82;
$accent-color: #427f5d;
$attention-color: #dd6b4d;
$brand-dark-color: #19335e;
$brand-light-color: #4eadff;
$light-color: #f4f7f9;

body{
  // background-image: linear-gradient(0deg, #FDFFFA 56%, #F9FFF2 93%);
}
.cell{
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
}
// Typography
h1{
  font-weight: 900;
  font-size: rem-calc(42);
}

h2{
  font-weight: 700;
  color: $brand-dark-color;
  font-size: rem-calc(42);
}
h3{
  font-weight: 700;
  color: $brand-dark-color;
  font-size: rem-calc(36);
  margin-bottom: 2rem;
}
h4{
  font-weight: 700;
  font-size: rem-calc(24);
}

p{
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.5;
  color: $brand-dark-color;
  opacity: 0.7;

  &.big{
    font-size: 20px;
  }

  &.small{
    font-size: 16px;
  }
}

a{
  color: inherit;
  text-decoration: underline;
}

// Buttons
.button{
  line-height: 55px;
  padding: 0 25px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
}
// Site Styles

// Site Logo
.site-logo{
  text-align: center;
  display: block;
  margin: 0 auto 2em;
  font-size: 26px;
  font-weight: 900;
  text-decoration: none;
  transition: transform ease-in-out 0.15s;

  span{
    color: $attention-color;
    font-size: 70%;
    // opacity: 0.8;
  }

  &:hover{
    transform: scale(1.05);
  }


  img{
    width:56px;
    margin: 0 auto 10px;
    display: block;
  }

}
.section{
  padding-top: 5em;
  padding-bottom: 5em;
}
.section-header{
  padding-bottom: 3em;
}

// Hero
.section-hero{
  background-color: $light-color;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/bg-hero.jpg);
  color: $brand-dark-color;

  h1{
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }

  .site-header{
    .button.secondary{
      @media screen and (min-width: 40em) {
        margin-left: 1em;
      }
    }
  }

  p{
    margin: 2em auto 3em;
    display: block;
    max-width: 700px;
    width: 92%;

  }
  .hero-action{
  }
}

.page-apply{
  .section-hero{
    background-size: contain;
    background-position: top center;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-bottom: 0;
  }
}
.button{
  border-radius: 100px;
  min-width: 240px;
  transition: transform ease-in-out 0.15s;

  &:hover{
    transform: scale(1.05);

  }
}

.button.primary{
  background-color: $brand-light-color;
}
.button.secondary{
  background-color: $accent-color;
}

.section-introduction, .section-apply, .section-header{
  text-align: center;
}

// Apply
.section-innovators, .section-nonprofits{
  margin-bottom: 5em;
  margin-top: 2em;

  .button{
    margin-top: 2em;
  }
  img{
    margin-top: 1rem;
  }

  @media screen and (max-width: 39.9375em) {
    img{
      margin-bottom: 2rem;
    }
  }
}

.section-nonprofits{
  margin-bottom: 0;

  @media screen and (min-width: 40em) {
    h3, p{
      text-align: right;
      
    }
    .button{
      float: right;
    }
  }
}

.newsletter-container{
  margin: 0 auto 5rem;
  max-width: 700px;

  .callout{
    background: $brand-color;
    box-shadow: 6px 22px 34px 0 rgba(110,134,82,0.30);
    border:none;
    border-radius: 12px;
    text-align: center;
    color: $light-color;
    padding: 2rem;

    p{
      color: $light-color;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.footer{
  margin: 3rem auto 5rem;
  p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 0.4rem;
    font-style: italic;
  }
}

// Form
#mlb2-1068414.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm{
  padding: 0!important;
}
#mlb2-1068414.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody, #mlb2-1068414.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody{
  padding: 5px!important;
}
#mlb2-1068414.ml-form-embedContainer .ml-form-embedWrapper.embedForm{
  max-width:500px!important;
  background-color: #fff!important;
}
#mlb2-1068414.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input{
  margin:0!important;
  -webkit-appearance: none;
  border: none!important;
  box-shadow: none!important;
}

#mlb2-1068414.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent{
  padding: 10px!important;
  margin: 0!important;
  
  h4{
    font-size: 20px!important;
    font-weight: 700!important;
    margin: 0!important;
  }
}

#mlb2-1068414.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button.loading{
  line-height: 8px!important;
  
  .ml-form-embedSubmitLoad{
    transform: scale(1.3) translateX(5px) translateY(3px);
  }
}




@media only screen and (max-width: 40em) {
  .newsletter-container .callout{
    padding: 1.5rem;
  }
 }